/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+VN+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* common */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #f5f7ff;
}
/* shared style */
.color-gray {
  color: rgba(137, 135, 161, 1);
}
.color-black {
  color: black;
}
.color-orange {
  color: #e95a08;
}

/* nav styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 130px;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}
.nav a {
  text-decoration: none;
}
.nav ul li:nth-child(1) {
  font-size: 1rem;
  font-weight: bold;
}
.nav ul a :nth-child(3) {
  font-size: 1rem;
  font-weight: bold;
}

/* Fresh flowers section styles*/
.fresh-flowers {
  display: flex;
  margin: 120px auto;
  height: 441px;
  align-items: flex-end;
}
.flowers-title {
  font-size: 4.06rem;
  font-weight: 700;
}
.fresh-flowers p {
  font-size: 1.25rem;
  width: 500px;
}
/* our plants section styles */
.plants-title {
  font-size: 3.1rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}
.our-plants p {
  text-align: center;
  max-width: 888px;
  margin: 0px auto;
}
.card-container {
  width: 270px;
  height: 485px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 30px;
}
.card-container p {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}
#price {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}
#add-to-cart {
  background-color: #e95a08;
  color: white;
  padding: 26px 50px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
}

/* styles for small devices */

@media screen and (max-width: 576px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    max-width: 576px;
    margin: 0 auto;
  }
  /* nav */
  .nav {
    margin: 13px 16px;
  }
  #cart {
    transform: scale(1.9);
    display: flex;
    padding-top: 20px;
    margin-right: 45px;
  }
  .nav ul li:nth-child(1),
  li:nth-child(2),
  li:nth-child(3) {
    display: none;
  }
  /* fresh flower section */
  .fresh-flowers {
    display: grid;
    margin-left: ;
  }
  .fresh-flowers img {
    order: 1;
    width: 100%;
  }
  .fresh-flowers .flowers-text {
    order: 2;
  }
  .flowers-text {
    margin: 28px 16px 65px 16px;
  }
  .flowers-title {
    font-size: 2rem;
    width: 300px;
  }
  .fresh-flowers p {
    font-size: 1rem;
    width: 440px;
  }
  /* our plants section */
  .card-container {
  width: 171px;
  height: 340px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0px;
  transform: scale(.8);
}
.our-plants p {
  max-width: 370px;
  height: 68px;
}
.card{
  transform: scale(.);
}
#price{
  margin-top: 0px;
}
.card-container p {
 margin-bottom: 0px;
 padding-bottom: 0px;
 width: fit-content;
 height: fit-content;
}